.about_section {
  text-align: left;
  color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  margin: 0px;
}

.about-me {
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-align: center;
  margin: 5em 0px 0px 0px;

  left: -400px;
}
.picture_of_me {
  width: 500px;
  height: 500px;
  overflow: visible;
}
@media screen and (max-width: 820px) {
  .about_section {
    grid-template-columns: 1fr;
    margin: 0 auto;
    font-size: 0.8em;
    padding: 0 10em;
  }
  .about_me {
    margin: 0 auto;
    position: relative;
  }
  .picture_of_me {
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .about_section {
    grid-template-columns: 1fr;
    margin: 0 auto;
    font-size: 0.5em;
    padding: 0 30px;
  }
  .about_me {
    font-size: 0.2em;
    margin: 0 auto;
    position: relative;
  }
  .picture_of_me {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}
