/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
h1:hover {
  color: white;
}
/* body:hover {
  cursor: url("AlienHead2.png");
} */
#canvas {
  position: absolute !important;
  z-index: -1;
  /* height: 100%;
  width: 100%; */
}
/* #canvas_div {
  z-index: -1;
  position: absolute !important;
} */
